---
import "../styles/style.css";
import "../styles/footer.css";
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="about">
  <h2>Her er about</h2>
</MainLayout>

<Footer />
