---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="index">
  <Button variant="primary" size="small">TESKT</Button>
  <Button variant="secondary" size="medium">TESKT</Button>
  <Button variant="secondary" size="large">TESKT</Button>
</MainLayout>
